# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Study\2 course\4th trimestr\SDP\DecoratorPattern_Kabken_Kaiyrkeldi_SE-2008\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
